-# coding: utf-8
!!! 5
%html
  %head
    %meta{charset:"utf-8"}/
    %meta{name:"viewport",content:"width=1024"}/
    %meta{name:"apple-mobile-web-app-capable", content:"yes"}/
    %title 优热点科技 | 用互联网科技助力商家生意
    %meta{name:"description", content:"优热点是一家致力于帮助商家利用互联网科技的企业"}/
    %meta{name:"author",content:"Xavier"}/
    %link{href:"css/styles.css", rel:"stylesheet"}/
    %link{rel:"shortcut icon", href:"favicon.png"}/
    %link{rel:"apple-touch-icon",href:"favicon.png"}/
  %body.impress-not-supported
    .callback-message
      %p 您的浏览器太老了！
      %p 为了您的体验，请使用最新的 Chrome 浏览器
    #impress
      #overview.step(data-x="800" data-y="900")

